


<input type="text" placeholder="mensaje" id="chat"> <button id="envioChat">envio</button>








<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.min.js"></script>
{{!-- CDN DE SOCKET.IO --}}
<script src="/js/main.js"></script>{{!--No olvidarnos de que el nuestro va siempre qal final  --}}
